html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-size: 16px;
}

header {
    text-align: center;
    border-top: 3px;
    border-bottom: 3px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
}

main {
    margin: 0px 5% 0px 5%;
}

article {

    border-style: solid;

}


img {
    object-fit: cover;
    width: 100%;
}



h1,
h2,
p {
    margin: 0px;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.1rem;
}

footer {
    text-align: center;
    border-top: 3px;
    border-bottom: 3px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
}

@media (min-width: 769px) {
    article {
        display: grid;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    p {
        font-size: 3rem;
    }
}
